.sidebar-wraper2{
    background-color: rgb(236, 236, 236);
    box-shadow: 0px 0px 10px #cacaca;
    padding-top: 5%;
    font-size: 17px;
    width: 18%;
    min-height:900px;
    float:left;

}

.app-name, .app-name:hover
{
    text-decoration: none;
    text-align: center;
    color: #e2e2e2;
    padding-left: 35%;
    font-weight: normal;
    font-size: x-large;
    background-color: #157956;

}

.sidebar-item li, .sidebar-item li:hover {
    color: rgb(36, 36, 36);
    text-decoration: none;
    margin-left: 0px;

    
}

ul, ul:hover{
    list-style: none;
    color: rgb(36, 36, 36);
}


.sidebar-item li:hover {
    list-style: none;
    background-color: white;
    box-sizing: border-box;
    color: rgb(36, 36, 36);

    
}

.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: bottom;
    margin: 20px 20px 0px 0px;
}
